<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bulat.diet.helper_sport"
    android:versionCode="88"
    android:versionName="2.9.6" android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8"/>
     <uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.vending.BILLING" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application 
        android:icon="@drawable/icon_m"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:backupAgent="MyBackupAgent">
       
         <receiver android:name=".reciver.CaloryAppWidgetProvider" >
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		        <action android:name="android.intent.action.USER_PRESENT" />
		        <action android:name="bulatplus.intent" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/appwidget_info" />
		</receiver>
		
    	<receiver android:name=".utils.BillingReceiver">
      		<intent-filter>
        	<action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
        	<action android:name="com.android.vending.billing.RESPONSE_CODE" />
        	<action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
      		</intent-filter>
    	</receiver>
         
		<service
            android:name=".service.AlarmService"
        >          
        </service>
        <activity
            android:name=".activity.StartActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity android:name="com.dm.zbar.android.scanner.ZBarScannerActivity"
                  android:screenOrientation="landscape"
                  android:label="@string/app_name" />
        <activity
            android:name=".activity.DietHelperActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">          
        </activity>
         <activity
            android:name=".activity.DishActivityGroup"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.Top10"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.DishActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.PaymentsListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.DishListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.VolumeInfo"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.AddTodayDishActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>       
        <activity
            android:name=".activity.AddTodayFitnesActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>  
        <activity
            android:name=".activity.StatisticExportActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>  
         <activity
            android:name=".activity.RecepyListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity> 
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">          
        </activity>
        <activity
            android:name=".activity.AddRecepyActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity> 
        <activity
            android:name=".activity.RecepyActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>    
         
         
        <activity
            android:name=".activity.StatisticImportActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>  
         <activity
            android:name=".activity.SocialUserNewsActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>    
         <activity
            android:name=".activity.CalendarActivityGroup"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.CalendarActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.TemplateDayActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.TemplateActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.NewTemplateActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        
          <activity
            android:name=".activity.DishListActivityGroup"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.AddDishActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.AddFitnesActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.SocialActivityGroup"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
		<activity
            android:name=".activity.SocialFavoriteUserListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.SocialNewsListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.SocialFollowersListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.Info"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.SelectStatisticsActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.Statistics"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.StatisticFCPActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.About"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
         <activity
            android:name=".activity.WeightChartActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.SocialUserListActivity">            
        </activity>
        <activity
            android:name=".activity.SocialDishActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>
        <activity
            android:name=".activity.SocialCalendarActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity> 
         <activity
            android:name=".activity.MessagesActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity> 
         <activity
            android:name=".activity.ChatActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>        
       <activity
            android:name=".activity.StatisticActivityGroup"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>   
         <activity
            android:name=".activity.SportListActivity"
            android:label="@string/app_name" 
            android:configChanges="orientation|keyboardHidden">            
        </activity>  
        <service android:name="com.android.vending.billing.IInAppBillingService" />            
        <provider android:name=".db.DishProvider" android:authorities="bulat.diet.helper_sport.db.DishProvider"/>
         <provider android:name=".db.SinchProvider" android:authorities="bulat.diet.helper_sport.db.SinchProvider"/>
     
     	<meta-data android:name="com.google.android.backup.api_key" 
            android:value="AEdPqrEAAAAIchUQasR43H25eaZe1iuet9ovJ6DIX130meDO6w" />
        
    </application>

</manifest>